%h1 notices 
=render partial: 'shared/jarmandy_nav'
%nav
  %ul
    %li= link_to 'POST A NOTICE', new_jarmandy_notice_path
    %li= link_to 'all notices', jarmandy_notices_path
    %li= link_to 'global notices', jarmandy_notices_path(only: 'everyone')
    %li.explanation
      want notices for a team? go through their team admin page
= form_tag({}, method: 'get') do
  %p
    = text_field_tag :q, params[:q]
    = submit_tag 'search'
    %span.explanation
      searches notice text for all teams

%h2= @source
%p
  = c = @notices.count
  matches; first 
  = [c, 25].min
  below
%table
  %thead
    %th id
    %th body
    %th posted at
    %th team
    %th activities
  %tbody
    - @notices.limit(25).includes(:team).each do |n|
      %tr
        %td= n.id
        %td= n.body
        %td= n.created_at
        %td
          - if n.team
            = link_to n.team.name, jarmandy_team_path(n.team)
          - else
            %em global
        %td
          = link_to 'twitter', n.twitter if n.twitter