.field
  = f.label :name
  = f.text_field :name
  .explanation
    Should be at least four characters long, memorable, and probably hilarious.
.field
  = f.label :password
  = f.password_field :password
.field
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  .explanation
    Your teammates will need this to join your team.
    Should be strong but not obnoxiously so.
    - if @team.persisted?
      %strong If you leave this blank while editing your team, it won't change.
.field.checkbox
  = f.label :fun, "We're just playing for the fun of it"
  = f.check_box :fun
  .explanation
    If you've already qualified or can't come to Las Vegas in August,
    this'll save us some time contacting you. If you're not sure,
    leave this unchecked.
.field
  = f.label :logo
  = f.file_field :logo
  .explanation
    A logo so you can identify your team easily.
    %ul
      %li MUST be GIF, JPEG, or PNG
      %li MUST be 128kb or less
      %li
        MUST NOT violate the
        = link_to "DEF CON Code of Conduct", "https://defcon.org/html/links/dc-code-of-conduct.html"
      %li SHOULD be 512x512 or larger
      %li MAY be cropped to square or 4:3 ratio
      %li WILL be placed over a dark background
