.content
  %h1 Create Team
  = form_for @team, url: team_path, html: {multipart: true} do |f|
    - if @team.errors.any?
      #error_explanation
        %ul
          - @team.errors.full_messages.each do |msg|
            %li= msg

      = render partial: 'form', locals: {f: f}

    .actions
      = f.submit 'Save'
      = link_to "Don't save", dashboard_path
