%p#notice= notice

%p
  %b Name:
  = @team.name
%p
  %b Tag:
  = @team.tag
%p
  %b Password digest:
  = @team.password_digest
%p
  %b User:
  = @team.user

= link_to 'Edit', edit_team_path(@team)
\|
= link_to 'Back', teams_path
