.content
  .headline
    = render partial: 'shared/logo'

  .invitation
    .jp.column
      :markdown
        日本人の友人たちを使いこなせるための特別メッセージ：私たちは日本語で全体の競争を提示することはできませんので、非常に残念に思います。この屈辱私たちをお赦しください、我々はあなたが関係なく、競争を楽しむことを願っています。

        によってあなたに持って来られる死傷トラウマ祭（CTF）へようこそ
        正当なビジネスのシンジケート！私たちはなるだろうことを発表できることを誇りに思っている
        2013年にDEF CON21でCTFをホスティング。これは、我々が実行されることを意味します
        死傷外傷祭修飾子6月にいくつかの時間。

        我々は、より開かれた曖昧、そして、できればもっと楽しいことを約束します。

        これまで関心をお寄せいただきありがとうございます。作成または参加したい場合
        修飾子チームは、下記のお申し込み下さい。

    .en.column
      :markdown
        Welcome to the Casualty Trauma Festival (CTF) brought to you by
        Legitimate Business Syndicate! We're proud to announce that we'll be
        hosting the CTF at DEF CON 21 in 2013. This means we will be running
        Casualty Trauma Festival qualifiers some time in June.

        We wish to uphold the proud DEF CON CTF traditions of tough exploitation
        challenges, difficult reverse engineering, and guerilla software
        security patches; at the same time, we want to modernize some aspects
        of the competition, and reduce some of the traditional advantages of
        incumbency, enormous teams, and extreme specialization.

        We promise to be more open, less ambiguous, and hopefully more fun.

        Thanks for your interest so far. If you'd like to create or join a
        qualifiers team, please sign up below.
    .clear

  .registration
    =form_for User.new, url: user_path do |f|
      - if flash[:error]
        %p.error= flash[:error]
      %label
        %span Username:
        = f.text_field :username
      %label
        %span Password:
        = f.password_field :password
      %label
        = f.submit 'Create Account'
        = f.submit 'Log In'
  .foot
    :markdown
      Copyright &copy; 2013 Legitimate Business Syndicate, All Rights Reserved.
      Readers and users claim all liability for injury, trauma, discomfort, and
      death resulting from CTF participation. LBS disclaims all responsibility
      for terrible things that happen to readers and users as a result of their
      participation in CTF activities.
    /
      :plain                          
           ___ Fueled by _     __   __        __   ___     __ 
          / _ )______ __(_)___/ /  / /__ ____/ /__/ (_)___/ / 
         / _  / __/ // / / __/ _ \/ / _ `/ _  / _  / / __/ _ \
        /____/_/  \_,_/_/\__/_//_/_/\_,_/\_,_/\_,_/_/\__/_//_/
                            Progressive Hebridean Distillers
