.headline
  = render partial: 'shared/logo'

.content

  .invitation
    :markdown
      We're back for 2014, with the hard-won lessons of 2013
      behind us, and an all-new and all-exciting game ahead
      of you.

      schedule blah blah
  .clear

  .new
    %h1 Register
    = link_to 'Register a new account', new_user_path
  .login
    %h1 Log In
    = form_for User.new, url: user_path do |f|
      %div
        = f.label :username
        = f.text_field :username
      %div
        = f.label :password
        = f.password_field :password
      %div
        %label
        = f.submit 'Log In'
  .forgot
    %h1 Forgot Password
    forgot password link
