.headline
  = render partial: 'shared/logo'

.content

  .invitation
    %p
      We're back for 2014, with the hard-won lessons of 2013
      behind us, and an all-new and all-exciting game ahead
      of you.
    %table#timetable
      %tbody
        %tr
          %th Registration opens
          %td April 1
          %td.time_t 1396310400
        %tr
          %th Qualifications begin
          %td May 16
          %td.time_t= game_window.first.to_i
        %tr
          %th Qualifications end 
          %td May 18
          %td.time_t= game_window.last.to_i
  .clear

  .new
    %h1 Register
    %div
      = link_to 'Sign Up', new_user_path, class: 'btn'
  .login
    %h1 Log In
    = form_tag session_path do
      %div
        = label_tag :username
        = text_field_tag :username
      %div
        = label_tag :password
        = password_field_tag :password
      %div
        %label
        = submit_tag 'Log In'
  .forgot
    %h1 Forgot Password
    %div
      = link_to 'Reset Password', new_reset_path, class: 'btn'

- content_for :head do
  %meta(name="twitter:card" content="summary")
  %meta(name="twitter:site" content="@legitbs_ctf")
  %meta(name="twitter:title" content="DEF CON Capture The Flag 2014")
  %meta(name="twitter:description" content="DEF CON CTF is the world series of computer hacking, with qualifications online in May and finals at DEF CON in Las Vegas.")
