#index.page
  .invitation
    %p
      Grab &infin; of your leetest friends and get ready for DEF CON CTF
      qualifications. We're building another great game for you this year,
      with brain-destroying binaries, super-sick shellcode shenanigans, and
      challenging fun for you. Register yourself, create or join a team, and
      get your affairs in order for DEF CON CTF 2015.
    %table#timetable
      %tbody
        %tr
          %th Qualifications begin
          %td Midnight UTC, May 21
          %td.time_t= game_window.first.to_i
        %tr
          %th Qualifications end
          %td Midnight UTC, May 23
          %td.time_t= game_window.last.to_i

  .new
    %h1 Register
    %div
      = link_to 'Sign Up', new_user_path, class: 'btn'
  .login
    %h1 Log In
    = form_tag session_path do
      %div
        = label_tag :username
        = text_field_tag :username
      %div
        = label_tag :password
        = password_field_tag :password
      %div
        %label
        = submit_tag 'Log In'
  .forgot
    %h1 Forgot Password
    %div
      = link_to 'Reset Password', new_reset_path, class: 'btn'

- content_for :head do
  %meta(name="twitter:card" content="summary")
  %meta(name="twitter:site" content="@legitbs_ctf")
  %meta(name="twitter:title" content="DEF CON Capture The Flag 2016")
  %meta(name="twitter:description" content="DEF CON CTF is the world series of computer hacking, with qualifications online in May and finals at DEF CON in Las Vegas.")
