.headline
  = render partial: 'shared/logo'

.content

  .invitation
    %p
      We're back for 2014, with the hard-won lessons of 2013
      behind us, and an all-new and all-exciting game ahead
      of you.
    %p.note
      All dates are from midnight UTC.
    %dl#timetable
      %dt Registration opens
      %dd April 1
      %dt Qualifications begin
      %dd May 17
      %dt Qualifications end
      %dd May 19
  .clear

  .new
    %h1 Register
    = link_to 'Sign Up', new_user_path, class: 'button'
  .login
    %h1 Log In
    = form_tag session_path do
      %div
        = label_tag :username
        = text_field_tag :username
      %div
        = label_tag :password
        = password_field_tag :password
      %div
        %label
        = submit_tag 'Log In'
  .forgot
    %h1 Forgot Password
    forgot password link
