= form_for [:jarmandy, @upload], multipart: true do |f|
  - if @upload.errors.any?
    #error_explanation
      %h2= "#{pluralize(@upload.errors.count, "error")} prohibited this upload from being saved:"
      %ul
        - @upload.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :challenge
    = challenge_picker(f)
  .field
    = f.label :file
    = f.file_field :file
  .actions
    = f.submit 'Save'
