%h1 Listing uploads
=render partial: 'shared/jarmandy_nav'

%nav
  %ul
    %li= link_to 'New Upload', new_jarmandy_upload_path

%table
  %thead
    %tr
      %th User
      %th Challenge
      %th File
      %th

  %tbody
    - @uploads.each do |upload|
      %tr
        %td= upload.user&.username
        %td= link_to upload.challenge&.name, [:jarmandy, upload.challenge]
        %td.filename= upload.file
        %td
          = link_to 'Edit', edit_jarmandy_upload_path(upload)
