%h1 Upload #{@upload.id}

%nav
  %ul
    %li= link_to 'Edit', edit_jarmandy_upload_path(@upload)
    %li= link_to('Show', jarmandy_upload_path(@upload,
    upload: {visible: true}), method: :put)
    %li= link_to('Hide', jarmandy_upload_path(@upload,
    upload: {visible: false}), method: :put)
    %li= link_to 'List All Uploads', jarmandy_uploads_path
    %li= link_to 'See Challenge', [:jarmandy, @upload.challenge]

%table.deflist
  %tbody
    %tr
      %th user
      %td= @upload.user&.username
    %tr
      %th challenge
      %td= link_to @upload.challenge&.name, [:jarmandy, @upload.challenge]
    %tr
      %th visible
      %td= @upload.visible ? 'showing' : 'hidden'
    %tr
      %th url
      %td.filename= link_to @upload.file, @upload.file.url
    %tr
      %th size
      %td.filename= @upload.file.size
    %tr
      %th md5sum
      %td.filename= @upload.file.fingerprint
