%h1 challenges
=render partial: 'shared/jarmandy_nav'
%nav
  %ul
    %li= link_to 'add challenge', new_jarmandy_challenge_path
    %li= link_to 'see categories', jarmandy_categories_path

%table
  %thead
    %th name
    %th cat
    %th pts
    %th unlocked
    %th solved
    %th it took
    %th activities
  %tbody
    - @challenges.each do |c|
      %tr
        %td= c.name
        %td= c.category.name
        %td= c.points
        %td= c.unlocked_at
        %td= c.solved_at
        %td
          - if c.unlocked_at && c.solved_at
            = distance_of_time_in_words c.unlocked_at, c.solved_at
            or #{(c.solved_at - c.unlocked_at).to_i} seconds
        %td
          = link_to 'show', jarmandy_challenge_path(c)
          = link_to 'edit', edit_jarmandy_challenge_path(c)
