#no_team
  %p You're not on a team.
  .join_team
    %h2 Join a team
    = form_for @new_membership, url: membership_path do |f|
      %div
        %label Team Name
        = f.text_field :name
      %div
        %label Password
        = f.password_field :password
      %div
        %label &nbsp;
        = f.submit 'Join'
  .create_team
    %h2 Create a team
    = form_for @new_team, url: team_path do |f|
      = render partial: 'teams/form', locals: {f: f}
      %div 
        %label &nbsp;
        = f.submit 'Create Team'
