.content#dashboard
  = render partial: 'shared/who'
  .account
    %h1 Account Options
    %ul.account_options
      - if current_user.auth_secret.blank?
        %li
          = link_to 'Set up Two Factor Authentication', new_token_path
      %li
        = link_to 'View password resets', resets_path
      - if current_user.participant?
        %li
          = link_to 'Achievements', achievements_path
      - if current_user.owner?
        %li
          = link_to 'Modify team', edit_team_path
          - unless current_team.logo.present?
            New! Add a logo!
  .team
    - if current_user.participant?
      = render partial: 'participant'
      = render partial: 'yes_team'
    - else
      = render partial: 'no_team'
