.content#dashboard
  #who
    Logged in as #{current_user.email}.
    = link_to 'Log out?', session_path, method: :delete
  .account
    %h1 Account Options
    %ul.account_options
      - if current_user.auth_secret.blank?
        %li
          = link_to 'Set up Two Factor Authentication', new_token_path
      %li
        = link_to 'View password resets', resets_path
  .team
    - if current_user.participant?
      = render partial: 'participant' 
      = render partial: 'yes_team'
    - else
      = render partial: 'no_team'
