%h1 categories
=render partial: 'shared/jarmandy_nav'

%table
  %thead
    %th name
    %th order
    %th description
    %th challenges
    %th fun activities
  %tbody
    - @categories.each do |c|
      %tr
        %td= c.name
        %td= c.order
        %td= c.description
        %td= c.challenges.count
        %td
          = link_to 'show', jarmandy_category_path(c)
          = link_to 'edit', edit_jarmandy_category_path(c)
