.content#challenge
  .challenge
    %h1.name= @challenge.name
    - unless @challenge.locked?
      %p.clue= simple_format @challenge.clue
      = form_for @solution, url: challenge_path(@challenge.id), method: :post do |f|
        = text_field_tag :answer, '', placeholder: 'answer'
        = f.submit 'Solve it'
        %a{href: scoreboard_path} Back to Scoreboard
