%section#challenge
  #chalcol
    #chaldata
      %h1.name= @challenge.name
      %h2
        #{@challenge.category.name},
        = pluralize @challenge.scored.points, 'point'
    #actual_challenge
      - unless @challenge.locked?
        %p.clue= RDiscount.new(@challenge.clue).to_html.html_safe
        = form_for @solution, url: challenge_path(@challenge.id), method: :post do |f|
          = text_field_tag :answer, '', placeholder: 'answer'
          = f.submit 'Solve it'
          %a{href: scoreboard_path} Back to Scoreboard
    .stats
      %h2 Statistics
      %table
        %tbody
          %tr
            %th views
            %td= @challenge.views
          %tr
            %th solves
            %td= @challenge.solutions.count
          %tr
            %th unlocked at
            %td{title: @challenge.unlocked_at}
              = time_ago_in_words @challenge.unlocked_at
              ago
          %tr
            - if @challenge.solutions.count > 0
              %th first solved
              - first_solve = @challenge.solutions.order(created_at: :asc).first
              %td{title: first_solve.created_at}
                = time_ago_in_words first_solve.created_at
                ago
            - else
              %th first solved
              %td not yet
      - unless @histogram.empty?
        #histogram_canvas
        %table#histogram
          %thead
            %tr
              %th end time
              %th solves
              %th percent
          %tbody
            - @histogram.each do |h|
              %tr{data: {end: h.end_time,
                  count: h.count,
                  complete: (h.end_time < Time.parse('may 22, 2016') rescue false)}}
                %td= h.end_time
                %td= h.count
                %td= h.pct
  #piccol
    #pic
      = render partial: 'scoreboard/timer'
    #other


%script{type: 'text/javascript',
        src: 'https://www.gstatic.com/charts/loader.js'}
