.content#scoreboard_complete
  %table
    %thead
      %tr
        %th rank
        %th team
        %th score
        %th last solve
    %tbody
      - @leaderboard.each_with_index do |r, i|
        %tr
          %td= i + 1
          %td= r['team_name']
          %td= r['score'].to_i
          %td
            - Time.parse(r['last_solve']).tap do |t|
              = time_ago_in_words t
              ago /
              = t.utc
