.content#scoreboard
  #messages{:'data-message-path' => notices_path, :'data-message-interval' => 1_000}
    %ol#messages-inner
      %li
        .metadata
          %span.timestamp {{ timestamp }}
          %span.sender {{ sender }}
        %p.message {{ message }}

  #scorelist
    %ul
      - @leaderboard.each do |t|
        %li{class: t['current'] ? 'current' : ''}
          %span.teamname= t['team_name']
          %span.score= t['score']
  #gameboard
    %table
      - @categories.each do
        %col
      %thead
        %tr
          - @categories.each do |cat|
            %th{id: "category_#{cat[0]}"}= cat[1]
      %tbody
        - @challenges.each do |row|
          %tr
            - row.each do |single|
              %td{:class => challenge_class_for(single), id: challenge_id_for(single)}
                - if single['created_at']
                  %a= single['points']
                - elsif single['unlocked_at']
                  = link_to(single['points'], 
                    challenge_path(single['challenge_id']),
                    class: 'live_challenge',
                    :'data-challenge-id' => single['challenge_id'],
                    title: "#{single['challenge_name']}: #{challenge_class_for(single)}")
                - else
                  %a= single['points']
    #challenge{style: 'display: none'}
      .bar
        %a#close_button{href: '#'} close
        %h3.meta
          {{ category.name }}: {{ challenge.points }} points
      .content
        %h1.name {{ challenge.name }}
        %p.clue {{ challenge.clue }}
        =form_tag(challenge_path(":challenge_id"), method: :post, id: 'challenge_form') do
          %input#answer{type: 'text', placeholder: 'answer', name: 'answer'}
          %input{type: 'submit'}
  %br.clear
