.content#scoreboard
  #messages
    #messages-inner
      :markdown
        apr. 20 4:20 pm utc: An important game message of some kind. Perhaps the fednaught has
        answered a question.

        apr. 20 4:20 pm utc: An important game message of some kind. Perhaps the fednaught has
        answered a question.

        apr. 20 4:20 pm utc: An important game message of some kind. Perhaps the fednaught has
        answered a question.
  #scorelist
    %ul
      - @leaderboard.each do |t|
        %li{class: t['current'] ? 'current' : ''}
          %span.teamname= t['team_name']
          %span.score= t['score']
  #gameboard
    %table
      - @categories.each do
        %col
      %thead
        %tr
          - @categories.each do |cat|
            %th{id: "category_#{cat[0]}"}= cat[1]
      %tbody
        - @challenges.each do |row|
          %tr
            - row.each do |single|
              %td{:class => challenge_class_for(single), id: challenge_id_for(single)}
                - if single['created_at']
                  %a= single['points']
                - elsif single['unlocked_at']
                  = link_to(single['points'], 
                    challenge_path(single['challenge_id']),
                    title: "#{single['challenge_name']}: #{challenge_class_for(single)}")
                - else
                  %a= single['points']
    / #challenge{style: 'display: none'}
    /   .bar
    /     %a{href: '#'} close
    /     %h3.meta
    /       #{ @challenge.category.name}: #{ @challenge.points} points
    /   .content
    /     %h1.name= @challenge.name
    /     %p.clue= @challenge.clue
    /     %form
    /       %input{type: 'text', placeholder: 'answer'}
    /       %input{type: 'submit'}
  %br.clear
