%section#main
  #leftcol
    #messages{:'data-message-path' => notices_path, :'data-message-interval' => 60_000}
      %ol#messages-inner
        %li
          .metadata
            %span.timestamp {{ timestamp }}
            %span.sender {{ sender }}
          %p.message {{ message }}

    #gameboard
      - @challenges.each do |row|
        .category
          %h1= row.first['category_name']
          %ul.challenges
            - row.each do |single|
              = challenge_li single do
                %span.points
                  = single['points']
                - if single['created_at'] # solved
                  = link_to(single['challenge_name'],
                    challenge_path(single['challenge_id']))
                  %em
                    Solved
                    = time_ago_in_words single['created_at']
                    ago
                - elsif single['unlocked_at'] # unsolved
                  = link_to(single['challenge_name'],
                    challenge_path(single['challenge_id']))
                  - if !single['solved_at']
                    %em Hot stuff! Solve this for scoreboard control.
                - else # locked
                  locked

  #rightcol
    #timer{:'data-remain' => (Time.at(game_window.last) - Time.now), style: 'display: none'}
      = timer_placeholder
      .template{style: 'display: none'}
        {{ hours }}:{{ minutes }}:{{ seconds }}

    #scorelist
      #scoreboard_template{style: 'display: none'}
        {{#teams}}
        %tr{class: '{{classname}}'}
          %td.teamname {{{linked_team_name}}}
          %td.score {{score}}
        {{/teams}}
      %table
        - @leaderboard.each do |t|
          %tr{class: t['current'] ? 'current' : ''}
            %td.teamname= t['display_name']
            %td.score= t['score']
