.content#scoreboard
  #messages{:'data-message-path' => notices_path, :'data-message-interval' => 60_000}
    %ol#messages-inner
      %li
        .metadata
          %span.timestamp {{ timestamp }}
          %span.sender {{ sender }}
        %p.message {{ message }}
  #scorelist
    #timer{:'data-remain' => (Time.at(game_window.last) - Time.now), style: 'display: none'}
      {{ hours }}:{{ minutes }}:{{ seconds }}
    #scoreboard_template{style: 'display: none'}
      {{#teams}}
      %li{class: '{{classname}}'}
        %span.teamname {{team_name}}
        %span.score {{score}}
      {{/teams}}
    %ul
      - @leaderboard.each do |t|
        %li{class: t['current'] ? 'current' : ''}
          %span.teamname= t['team_name']
          %span.score= t['score']
  #gameboard
    - @challenges.each do |row|
      .category
        %h1= row.first['category_name']
        %ul.challenges
          - row.each do |single|
            %li{:class => challenge_class_for(single), id: challenge_id_for(single)}
              - if single['created_at'] # solved
                %a.tooltip{title: "#{single['challenge_name']}: #{challenge_class_for(single)}"}= single['points']
              - elsif single['unlocked_at'] # unsolved
                = link_to(single['points'], 
                  challenge_path(single['challenge_id']),
                  class: 'live_challenge tooltip',
                  :'data-challenge-id' => single['challenge_id'],
                  title: "#{single['challenge_name']}: #{challenge_class_for(single)}")
              - else # locked
                %a.tooltip{title: 'locked'}= single['points']
    #challenge{style: 'display: none'}
      .bar
        %a#close_button{href: '#'} close
        %h3.meta
          {{ category.name }}: {{ challenge.points }} points
      .content
        %h1.name {{ challenge.name }}
        %p.clue {{{ challenge.clue }}}
        =form_tag(challenge_path(":challenge_id"), method: :post, id: 'challenge_form') do
          %input#answer{type: 'text', placeholder: 'answer', name: 'answer'}
          %input{type: 'submit'}
  %br.clear
