%h1= @title
=render partial: 'shared/jarmandy_nav'

%table
  %thead
    %tr
      - unless @filtered == :team
        %th Team
      - unless @filtered == :challenge
        %th Challenge
      %th User
      %th Solved?
      %th Created
      %th

  %tbody
    - @observations.each do |observation|
      %tr
        - unless @filtered == :team
          %td= link_to observation.team.name, jarmandy_team_path(observation.team)
        - unless :challenge == @filtered
          %td= link_to observation.challenge.name, jarmandy_challenge_path(observation.challenge)
        %td= link_to observation.user.username, jarmandy_user_path(observation.user)
        %td= !!observation.solution
        %td= observation.created_at
        %td= link_to 'Show observation', jarmandy_observation_path(observation)
