.content
  :markdown
    # Register

    Choose a unique username, pick a secure password,
    and give us an email address for official game communications.

  = form_for @user, url: user_path do |f|
    .errors
      = f.error_messages
    %div
      = f.label :username
      = f.text_field :username
    %div
      = f.label :password
      = f.password_field :password, value: (@password_stash || '')
    %div
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      .explanation
        Choose a secure but memorable password.
        %a{href: 'http://xkcd.com/936/'}<
          Non-memorable garbage isn't necessarily secure.
        If you screw up, you can reset your password later.
    %div
      = f.label :email
      = f.text_field :email
    %div
      = f.label :email_confirmation
      = f.text_field :email_confirmation
      .explanation
        We use your email address for a bunch of stuff: confirming account
        creation, password resets, and coordinating your finals visit after
        you qualify. Your address will only be used for official game
        communication.
    %div.checkbox
      = f.label :visa, "I'll need a visa to travel to Las Vegas"
      = f.check_box :visa
      .explanation
        We welcome competitors from all over the world, but acknowledge
        that a trip to the US might require extra paperwork.
        = link_to 'http://travel.state.gov/content/visas/english.html' do
          The US Department of State has more information about visa requirements.
    %div
      %label &nbsp;
      = f.submit value: 'Create Account'
