.content#letter
  #letterhead
    %h1 Official Waiver
    .subhead
      Casualty Trauma Festival
      %br
      Disclaimer and Paperwork Bureau
  .explanation
    :markdown
      Thanks for your coöperation so far. In order to finish making you
      a Casualty Trauma Festival victim, we need a few more
      pieces of information.

      Please choose a unique username, select a secure password, and
      enter an email address to be used for official game communication.
    
  = form_for @user, url: user_path do |f|
    .errors
      = f.error_messages
    %div
      = f.label :username
      = f.text_field :username
    %div
      = f.label :password
      = f.password_field :password, value: (@password_stash || '')
    %div
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    %div
      = f.label :email
      = f.text_field :email
    %div
      = f.label :email_confirmation
      = f.text_field :email_confirmation
    %div
      %label &nbsp;
      = f.submit value: 'Create Account'
