%nav
  %ul
    %li= link_to 'admin root', jarmandy_root_path
    %li= link_to 'notices', jarmandy_notices_path
    %li= link_to 'users', jarmandy_users_path
    %li= link_to 'teams', jarmandy_teams_path
    %li= link_to 'challenges', jarmandy_challenges_path
