.content
  :markdown
    Enter your email address and demonstrate that you can solve a reCAPTCHA
    to start the reset process.

  = form_tag resets_path do
    %div
      = label_tag :email
      = text_field_tag :email
    = render partial: 'shared/recaptcha'
    %div
      %label &nbsp;
      = submit_tag 'Reset Password'
        
