.content#scoreboard
  #scorelist
    %ul
      - 25.times do |n|
        %li
          %span.teamname= rand(36**10).to_s(36)
          %span.score= 2500 - n
      %li.current
        %span.teamname fail team 2000
        %span.score 5
  #header
    = render partial: 'shared/logo'
  #gameboard
    %table
      %thead
        %tr
          - %w{japery capers tacos täargus wavves}.each do |s|
            %th= s
      %tbody
        - 5.times do |t|
          %tr
            - 5.times do
              - klass = %w{conquered surrendered fighting untouched}[rand(4)]
              %td{class: klass}= t * 100
  %br.clear
  #messages
    #messages-inner
      :markdown
        apr. 20 4:20 pm utc: Aliquam sit amet felis. Etiam congue. Donec risus risus, pretium ac, tincidunt eu, tempor eu, quam.

        apr. 20 4:20 pm utc: Aliquam sit amet felis. Etiam congue. Donec risus risus, pretium ac, tincidunt eu, tempor eu, quam.      

        apr. 20 4:20 pm utc: Aliquam sit amet felis. Etiam congue. Donec risus risus, pretium ac, tincidunt eu, tempor eu, quam.