!!!5
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}
  %body
    %h1 You registered a team for the 2013 CTF Quals
    :markdown
      Thanks for registering a team in the 2013 CTF. Here are your team's
      details:

      Name: #{@team.name}

      Password: #{@team.password}

      ## What's next for #{@user.username}?

      Forward this email to your future teammates, or otherwise give them the
      instructions below.

      ## Joining the team

      (#{@user.username}, this is for your teammates' sake. You're already
      on the team.)

      1. Register an account on [https://legitbs.net/](https://legitbs.net/).

      2. Find the "Join a team" section on the "You're not a team" screen.

      3. Put "#{@team.name}" (without quotes) in the "Name" field.

      4. Put "#{@team.password}" (again, without quotes) in the "Password" 
      field.

      5. Click "Join" to join the team.
