%h1 teams
=render partial: 'shared/jarmandy_nav'
%nav
  %ul
    %li= link_to 'new teams', jarmandy_teams_path
    %li= link_to 'old teams', jarmandy_teams_path(only: 'olde')
    %li= link_to 'effed up teams', jarmandy_teams_path(only: 'weird')
    %li= link_to 'top 25 teams', jarmandy_teams_path(only: 'scoreboard')
= form_tag({}, method: 'get') do
  %p
    = text_field_tag :q, params[:q]
    = submit_tag 'search'
    %span.explanation
      searches team names

%h2= @source
%p
  = c = @teams.count
  matches; first
  = [c, 25].min
  below

= pagination_controls

%table
  %thead
    %th id
    %th name
    %th owner
    %th members
    %th activities
  %tbody
    - @paginated_teams.includes(:user).each do |t|
      %tr
        %td= t.id
        %td= link_to t.name, jarmandy_team_path(t)
        %td
          - if t.user.nil?
            %em nobody, omg tell vito
          - else
            = link_to t.user.username, jarmandy_user_path(t.user)
        %td= t.members.count
        %td
          = link_to 'show team', jarmandy_team_path(t)

= pagination_controls
