- if @team.logo.present?
  .team_logo= image_tag @team.logo.url :medium
%h1
  = @team.name
  %em (#{@team.id})

=render partial: 'shared/jarmandy_nav'

%table.deflist
  %tbody
    %tr
      %th displays as
      %td= @team.display_name
    %tr
      %th display name
      %td
        = form_for @team, url: jarmandy_team_path(@team) do |f|
          = f.text_field :display
          = f.submit 'change'
    %tr
      %th captain
      %td
        = link_to @team.user.username, jarmandy_user_path(@team.user)
        \/
        = mail_to @team.user.email, @team.user.email, cc: 'team@legitbs.net'
    %tr
      %th created at
      %td= @team.created_at
    %tr
      %th updated at
      %td= @team.updated_at

    %tr
      %th prequalified?
      %td= !!@team.prequalified
    %tr
      %th playing for fun?
      %td= !!@team.fun

    %tr
      %th hot?
      %td
        - if @team.hot
          hot
          = link_to 'Chill them out', cool_jarmandy_team_path(@team), method: :post
        - else
          cool
          = link_to 'Make them hot', hot_jarmandy_team_path(@team), method: :post
    %tr
      %th notices
      %td
        = link_to @team.notices.count, jarmandy_notices_path(team_id: @team.id)
        = link_to 'Post one', new_jarmandy_notice_path(team_id: @team.id)

%h2
  members
  %em (#{@team.members.length})
%table
  %thead
    %tr
      %th username
      %th visa?
      %th activities
  %tbody
    - @team.members.each do |m|
      %tr
        %td= link_to m.username, jarmandy_user_path(m)
        %td= m.visa
        %td
          = link_to 'show', jarmandy_user_path(m)
          - if m != @team.user
            = link_to 'kick', kick_jarmandy_team_path(player_id: m.id), method: :post
          - else
            %s{title: "can't kick the captain"} kick

%h2 solutions
%p
  = link_to jarmandy_team_observations_path(team_id: @team.id) do
    Observations
%table
  %thead
    %th name
    %th points
    %th solved at
  %tbody
    - @team.solutions.joins(:challenge).each do |s|
      %tr
        %td= s.challenge.name
        %td= s.challenge.points
        %td= s.created_at

-# %h2 awards
-# %table
-#   %thead
-#     %tr
-#       %th name
-#       %th description
-#       %th awarded at
-#   %tbody
-#     - @team.awards.includes(:achievement).each do |a|
-#       %tr
-#         %td= a.achievement.name
-#         %td= a.achievement.description
-#         %td= a.created_at

%h2
  %a{name: 'logo'} logo
- if @team.logo.present?
  = link_to 'wipe logo', wipe_jarmandy_team_path, method: :post
%table.deflist
  %tbody
    - %w{file_name content_type size fingerprint updated_at}.each do |k|
      %tr
        %th= k
        %td= @team["logo_#{k}"]
    - @team.logo.styles.keys.each do |k|
      %tr
        %td= k
        %td= image_tag @team.logo.url k
    %tr
      %td original
      %td= image_tag @team.logo.url
