%nav
  %ul
    %li
      %a{href: 'index.html'} Statdump Root

%h1 Final Scoreboard

%p
  Only the #{length} teams that scored. Can't find your team? Do better :P
%table
  %thead
    %tr
      %th Place
      %th Team name
      %th Score
      %th Time of Last Solution
  %tbody
    - each_with_index do |r, i|
      %tr
        %td= i+1
        %td
          %a{href: "teams/#{r['team_id']}.html"}&= r['team_name']
        %td= r['score']
        %td= r['last_solve']
