%nav
  %ul
    %li
      %a{href: '../teams.html'} All Teams
    %li
      %a{href: '../index.html'} Statdump Root

%h1&= name

%table
  %tbody
    %tr
      %th score
      %td= score
    %tr
      %th captain
      %td&= user.username
    %tr
      %th registered at
      %td= created_at

%h2 Challenges solved
%table
  %thead
    %tr
      %th category & points
      %th name
      %th observed at
      %th solved at
      %th took
  %tbody
    - solutions.order(created_at: :asc).joins(:challenge).each do |s|
      %tr
        %td
          = s.challenge.category.name
          = s.challenge.scored.points
        %td
          %a{href: "../challenges/#{s.challenge.id}.html"}
            = s.challenge.name
        %td= s.observation.created_at
        %td= s.created_at
        %td= distance_of_time_in_words s.observation.created_at, s.created_at

%h2 Challenges observed
%table
  %thead
    %tr
      %th category & points
      %th name
      %th observed at
      %th solved
  %tbody
    - observations.order(created_at: :asc).each do |o|
      %tr
        %td
          = o.challenge.category.name
          = o.challenge.scored.points
        %td
          %a{href: "../challenges/#{o.challenge.id}.html"}
            = o.challenge.name
        %td= o.created_at
        %td
          = !!o.solution


%h2 Members
%ol
  - members.order(created_at: :asc).each do |m|
    %li&= m.username
