.content#scoreboard
  #scorelist
    %ul
      - @leaderboard.each do |t|
        %li{class: t['current'] ? 'current' : ''}
          %span.teamname= t['team_name']
          %span.score= t['score']
  #instructions
    %p
      Good job getting that challenge before everyone else. 
      Pick a new hot challenge!
    %p= link_to 'Category info', categories_path
  #gameboard
    - @challenges.each do |row|
      .category
        %h1= row.first['category_name']
        %ul.challenges
          - row.each do |single|
            %li{:class => choice_class_for(single), id: challenge_id_for(single)}
              - if single['class'] == 'burning'
                = link_to(single['points'], 
                  pick_path(single['challenge_id']),
                  method: 'post')
              - else
                %a= single['points']
