%section#main
  #leftcol
    #instructions
      %p
        Good job getting that challenge before everyone else.
        Pick a new challenge.

    #gameboard
      - @challenges.each do |row|
        .category
          %h1= row.first['category_name']
          %ul.challenges
            - row.each do |single|
              %li{:class => choice_class_for(single), id: challenge_id_for(single)}
                - if single['class'] == 'burning'
                  = link_to(pick_path(single['challenge_id']), method: 'post') do
                    tier
                    = single['points']
                    challenge
                    = single['category_name']
                    category
                - elsif single['class'] == 'locked'
                  %a
                    tier
                    = single['points']
                    challenge, can't unlock yet
                - else
                  %a
                    tier
                    #{single['points']}
                    challenge
                    "#{single['challenge_name']}",
                    already unlocked


  #rightcol
    = render partial: 'scoreboard/timer'
    #scorelist
      %table
        - @leaderboard.each do |t|
          %tr{class: t['current'] ? 'current' : ''}
            %td.teamname= t['team_name']
            %td.score= t['score']
