!!! 5
%html
  %head
    - if defined? @title
      %title #{@title} | DEF CON CTF
    - else
      %title DEF CON CTF 2015
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
    - %w{32x32 16x16}.each do |s|
      = favicon_link_tag "favicon-#{s}.png", sizes: s
    = yield :head
  %body{class: body_class, data: {hacker_count: hacker_count}}
    #container
      #canvas
        = image_tag 'scene-840x1344.jpg', width: 420, height: 672
        %canvas#actualScene.stealth{width: 420, height: 672}
        #stop-button pause animation
        %canvas#countdown{width: 160, height: 120}
        #timer{data:{remain: (Time.at(game_window.last) - Time.now)}, style: 'display: none'}
        = image_tag '2015-canvas-160x120.png', id: 'canvas-template', width: 160, height: 120
      - unless display_flash.empty?
        #flashes
          - display_flash.each do |k,v|
            - next if k.to_s == 'analytics'
            %p{class: "flash #{k}"}= v
      #content
        = yield
    = cheevos
    = javascript_include_tag "application"
    = render partial: 'shared/analytics'
    /
      :plain
           ___ Fueled by _     __   __        __   ___     __
          / _ )______ __(_)___/ /  / /__ ____/ /__/ (_)___/ /
         / _  / __/ // / / __/ _ \/ / _ `/ _  / _  / / __/ _ \
        /____/_/  \_,_/_/\__/_//_/_/\_,_/\_,_/\_,_/_/\__/_//_/
                            Progressive Hebridean Distillers
