!!! 5
%html
  %head
    %title DEF CON CTF 2014
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    %meta{name: 'google', value: 'notranslate'}
  %body{class: body_class, data: {hacker_count: hacker_count}}
    #scene
      #layer-vines.layer
      #layer-altar.layer
      #layer-ziggurat.layer
        %canvas#ziggurat{width: 2048, height: 2048}
        %canvas#hacker{width: 64, height: 64}
    #container
      - unless display_flash.empty?
        #flashes
          - display_flash.each do |k,v|
            %p{class: "flash #{k}"}= v
      #content
        = yield

    = javascript_include_tag "application"
    = render partial: 'shared/analytics'
