!!! 5
%html
  %head
    %title DEF CON CTF 2014
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    %meta{name: 'google', value: 'notranslate'}
  %body
    #container
      #scene{data: {limit_x: 8, limit_y: 10, scalar_x: 25, scalar_y: 5, friction_x: 0.1, friction_y: 0.1}}
        #layer-mountains.layer{'data-depth' => 0.25}
          = image_tag 'distant_mountains.png'
        #layer-casinos.layer{'data-depth' => 0.5}
          = image_tag 'casinos.png'
        #layer-rio.layer{'data-depth' => 0.75}
          = image_tag 'rio.png'
      - unless flash.empty?
        #flashes
          - flash.each do |k,v|
            %p{class: "flash #{k}"}= v
      #content
        = yield

    = javascript_include_tag "application"
    = render partial: 'shared/analytics'
